#########################
# Embroidermodder 2     #
#########################
embroidermodder2/.moc
embroidermodder2/.obj
embroidermodder2/TODO
embroidermodder2/Makefile
embroidermodder2/_memleak*
embroidermodder2/settings.ini
embroidermodder2/prompt.log
embroidermodder2/embroidermodder2
embroidermodder2/embroidermodder2.exe
embroidermodder2/embroidermodder2.app
embroidermodder2/doxygen

#########################
# libembroidery         #
#########################
libembroidery/.moc
libembroidery/.obj
libembroidery/TODO
libembroidery/Makefile
libembroidery/_memleak*
libembroidery/doxygen

#########################
# libembroidery-convert #
#########################
libembroidery-convert/.moc
libembroidery-convert/.obj
libembroidery-convert/TODO
libembroidery-convert/Makefile
libembroidery-convert/_memleak*
libembroidery-convert/libembroidery-convert
libembroidery-convert/libembroidery-convert.exe

#########################
# libembroidery-test    #
#########################
libembroidery-test/.moc
libembroidery-test/.obj
libembroidery-test/TODO
libembroidery-test/Makefile
libembroidery-test/_memleak*
libembroidery-test/libembroidery-test
libembroidery-test/libembroidery-test.exe

#########################
# KDE4 Thumbnailer      #
#########################
thumbnailer-kde4/.moc
thumbnailer-kde4/.obj
thumbnailer-kde4/Makefile
thumbnailer-kde4/libembroidery-thumbnailer-kde4.so

#########################
# Project Files         #
#########################
project-files/qmake/Makefile

#########################
# OS generated files    #
#########################
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
