language:
    - c
    - cpp

compiler:
    - gcc

before_install:
    - PLATFORM=linux64
    - export NIGHTLY_DATE=`date`
    - export NIGHTLY_BUILDNUM=`date +%Y%m%d%H%M%S`
    - export NIGHTLY_HASH=`git ls-remote git://github.com/Embroidermodder/Embroidermodder.git | grep refs/heads/master | cut -f 1`
    - sudo apt-get update -qq

install:
    - sudo apt-get install git qt4-qmake libqt4-opengl-dev kdelibs5-dev valgrind

before_script:
    - cat /etc/lsb-release
    - uname -a

script:
    - ROOT_BUILD_DIR=`pwd`
    - cd project-files/qmake
    - qmake CONFIG+=deploy
    - make
    - ./libembroidery-convert
    - which ../../embroidermodder2/embroidermodder2

after_success:
    - git config --global user.email \<\>
    - git config --global user.name "Embroidermodder-Travis"
    - cd ~
    - git clone https://Embroidermodder-Travis:${NIGHTLY_TOKEN}@github.com/Embroidermodder/nightly-ci.git
    - cd nightly-ci
    - git remote rm origin
    - git remote add origin https://Embroidermodder-Travis:${NIGHTLY_TOKEN}@github.com/Embroidermodder/nightly-ci.git
    - git fetch origin
    - git checkout -b ${PLATFORM} origin/${PLATFORM}
    # Remove previous build
    - rm -rf embroidermodder2
    - rm -rf libembroidery-convert
    # Generate a new README file
    - README_FILE=README.md
    - echo "" > ${README_FILE}
    - echo "Nightly Build" >> ${README_FILE}
    - echo "------------------------------" >> ${README_FILE}
    - echo "" >> ${README_FILE}
    - echo "* Commit Date = ${NIGHTLY_DATE}" >> ${README_FILE}
    - echo "* Commit Build Number = ${NIGHTLY_BUILDNUM}" >> ${README_FILE}
    - echo "* Commit Hash = ${NIGHTLY_HASH}" >> ${README_FILE}
    - echo "" >> ${README_FILE}
    - echo "This is a development build for ${PLATFORM} and may be unstable or even unusable." >> ${README_FILE}
    - echo "USE AT YOUR OWN RISK AND HAVE FUN!" >> ${README_FILE}
    - echo "" >> ${README_FILE}
    # Embroidermodder 2
    - cp -f  ${ROOT_BUILD_DIR}/embroidermodder2/embroidermodder2 ./embroidermodder2/embroidermodder2
    - cp -rf ${ROOT_BUILD_DIR}/embroidermodder2/commands         ./embroidermodder2/commands
    - cp -rf ${ROOT_BUILD_DIR}/embroidermodder2/help             ./embroidermodder2/help
    - cp -rf ${ROOT_BUILD_DIR}/embroidermodder2/icons            ./embroidermodder2/icons
    - cp -rf ${ROOT_BUILD_DIR}/embroidermodder2/images           ./embroidermodder2/images
    - cp -rf ${ROOT_BUILD_DIR}/embroidermodder2/samples          ./embroidermodder2/samples
    - cp -rf ${ROOT_BUILD_DIR}/embroidermodder2/translations     ./embroidermodder2/translations
    # libembroidery-convert
    - cp -f  ${ROOT_BUILD_DIR}/libembroidery-convert/libembroidery-convert ./libembroidery-convert/libembroidery-convert
    - ls
    - git add -A && git commit -m "Successful Build #${TRAVIS_BUILD_NUMBER} - ${NIGHTLY_BUILDNUM}"
    # TODO: windows will need to be: git push origin ${PLATFORM} > nul 2>&1
    - git push origin ${PLATFORM} &>/dev/null

env:
  global:
    - secure: KeXCxuhU7FHzw1xSoZ37C37QEIhk9H1AW1M9VRzIPkoY0QWIcRBarg7yXtaGdhY2PLXy2rTX/o8IEzGERoEP544D4E1+sk9Mv3Zfx4JxLQs0gMN8OAHxS8RAd9RzBPqP3seLTf+K0v7ZfWSIZY80Ma+hsAu4grXrSzvnwPszS2M=

notifications:
  recipients:
    - embroidermodder@gmail.com
  email:
    on_success: always # TODO: modify 'always' to 'change'
    on_failure: always

