language:
    - c

compiler:
    - gcc

before_install:
    - export NIGHTLY_HASH=`git ls-remote git://github.com/Embroidermodder/Embroidermodder.git | grep refs/heads/master | cut -f 1`
    - sudo apt-get update -qq

install:
    - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && sudo apt-get install git || sudo apt-get install git qt4-qmake libqt4-opengl-dev kdelibs5-dev valgrind'
    - git config --global user.email \<\>
    - git config --global user.name "Embroidermodder-Travis"

before_script:
    - cat /etc/lsb-release
    - uname -a

script:
    # Do only a basic build for pull requests, otherwise build for all platforms
    - '[ "${TRAVIS_PULL_REQUEST}" != "false" ] && cd project-files/qmake && qmake && make'
    # linux64
    - PLATFORM=linux64
    - cd ~
    - git clone https://Embroidermodder-Travis:${NIGHTLY_TOKEN}@github.com/Embroidermodder/travis-${PLATFORM}.git
    - cd travis-${PLATFORM}
    - git remote rm origin
    - git remote add origin https://Embroidermodder-Travis:${NIGHTLY_TOKEN}@github.com/Embroidermodder/travis-${PLATFORM}.git
    - git fetch origin
    - git checkout master
    - git commit --allow-empty -m "https://github.com/Embroidermodder/Embroidermodder/commit/${NIGHTLY_HASH}"
    - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && git push origin master &>/dev/null'
    # osx64
    - PLATFORM=osx64
    - cd ~
    - git clone https://Embroidermodder-Travis:${NIGHTLY_TOKEN}@github.com/Embroidermodder/travis-${PLATFORM}.git
    - cd travis-${PLATFORM}
    - git remote rm origin
    - git remote add origin https://Embroidermodder-Travis:${NIGHTLY_TOKEN}@github.com/Embroidermodder/travis-${PLATFORM}.git
    - git fetch origin
    - git checkout master
    - git commit --allow-empty -m "https://github.com/Embroidermodder/Embroidermodder/commit/${NIGHTLY_HASH}"
    - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && git push origin master &>/dev/null'

env:
  global:
    - secure: "ays1SwXHQ6+4rLCQKxY6xZ3elWkU4Bw51d3DqOfbcIObmpoKQ2ztq7M4JsHyXKOwk9O9QsBD/bunf/MAJrdk+fS866qfw9pxu9/Sh9EeAq4bB2gHbL7G4hxpvG++ioQ32W5Gu1kEgOOk+3NzUQ6t5erNkhADyJ+E6b1Z7q7i+W4="

notifications:
  recipients:
    - embroidermodder@gmail.com
  email:
    on_success: change
    on_failure: always
