#########################
# Delphi #
#########################
*.dcu
*.~*
#*.dof
*.cfg
*.res
*.ddp
*.exe
*.dll

#########################
# Lazarus         #
#########################
*.ppu
*.lps

#########################
# else         #
#########################
*.o
*.pes
*.csv