Package: embroidermodder
Version: 2.0.0
Architecture: amd64
Maintainer: Embroidermodder Team
Installed-Size: 6000
Pre-Depends: dpkg (>= 1.15.4)
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libgl1-mesa-glx | libgl1, libglu1-mesa | libglu1, libqt4-help (>= 4.6.0), libqt4-opengl (>= 4.6.0), libqt4-svg (>= 4.6.0), libqt4-test (>= 4.6.0), libqt4-webkit (>= 4.6.0), libqtcore4 (>= 4.6.0), libqtgui4 (>= 4.6.0), libstdc++6 (>= 4.1.1),
Section: graphics
Priority: optional
Homepage: http://embroidermodder.sourceforge.net/
Description: Embroidery modification software
 Embroidermodder is a free software tool that allows the user to add custom modifications to their embroidery designs.
 .
 This package contains the main application.